
@font-face {
	font-family: 'Lato';
	src: url("../fonts/Lato2/Lato-Light.ttf"); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Bold';
	src: url("../fonts/Lato2/Lato-Medium.ttf"); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #2E3444;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: yellow;
}



.main-nav a {

}

.main-nav a.current-page {
	color: yellowgreen;
}

br
{   content: "A" !important;
    display: block !important;
    margin-bottom: 1.5em !important;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

body {
	font-family: 'Lato', 'Helvetica Neue',  Helvetica, Arial, sans-serif;
	color: #fff;
	background: #252323;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato Bold', Helvetica, sans-serif;
}

a {
	outline: none;
	color: #77d45b;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #fff;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Header */

.codrops-header {
	padding: 2em 1em 4em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-size: 3em;
	line-height: 1;
	font-weight: normal;
}

.codrops-header h1 span {
	display: block;
	padding: 0.5em 0 1em;
	color: #999;
	font-weight: normal;
	font-size: 0.45em;
	letter-spacing: 0;
}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}


/* Demo links */

.codrops-demos {
	margin: 2em 0 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 0.5em;
}

.codrops-demos a.current-demo {
	color: #fff;
}


/* Content */

.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}


/* Related demos */

.content--related {
	text-align: center;
	font-weight: bold;
	padding: 0 1em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}


/* Demo ad style */

body #cdawrap {
	top: 15px;
	right: auto;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	border: none;
}

body #cdawrap .carbon-text {
	color: #EBEBEB;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 2em 5%;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.15em;
	}
}
