body {
	background: #fff;
}
.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: #14CC66;
}

.codrops-header h1 {
	margin: 0;
	font-size: 2.5em;
	font-weight: 900;
	color: #fff;
}

.codrops-header h1 span {
	display: block;
	padding: 0.2em 0 0.6em 0.1em;
	font-size: 0.6em;
	font-weight: 300;
	color: #fff;
}

.codrops-header a {
	color: #fff;
}

.codrops-header a:hover {
	text-decoration: underline;
	color: yellow;
}

/* Demo links */
.main-nav {
	padding-top: 50px;
}

.main-nav a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 5px 2px;
	font-weight: 900;
}

.main-nav a.current-page {
	color: yellow;
}
 
section {
	padding: 1em;
	text-align: center;
}

.related {
	padding: 15em 0 3em;
	clear: both;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 1px solid #2E3444;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #2E3444;
}

.related a:hover {
	border-color: #FF2A48;
	color: #FF2A48;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}