/*
   Main theme styles 
*/
/*Define  fonts and colors*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
/* backgrounds */
/* Mixins */
/* Bootstrap additional styles  */
.col-xs-offset-right-12 {
  margin-right: 100%;
}

.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
  margin-right: 75%;
}

.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
  margin-right: 50%;
}

.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
  margin-right: 25%;
}

.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
  margin-right: 0;
}

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}

/* Common rules */
html {
  font-size: 1rem;
}

body, p {
  color: #333;
  
  line-height: 1.8rem;
  font-family: Georgia, Times, serif;
  line-height: 1.45rem;
  font-weight: 400;
}

p {
  margin-bottom: 1.3rem;
  font-size: 1.145rem;
}

h1, h2, h3, h4 {
  margin: 0 0 0.5rem;
  font-weight: inherit;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1 {
  color: #fff;
  margin-top: 0;
  font-size: 3.157rem;
  line-height: 3.72526rem;
}

h2 {
  font-size: 2.369rem;
  line-height: 2.79542rem;
}

h3 {
  font-size: 1.333rem;
  line-height: 2.09686rem;
}

h4 {
  font-size: 1.333rem;
  line-height: 1.57294rem;
}

small, .font_small {
  font-size: 0.75rem;
}

a, strong, .button {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

blockquote, ul, ol {
  margin-bottom: 1.3rrem;
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong, p.highlight, strong.yellowgreen, p.highlight {
  color: #38B9FD;
}

h3 {
  color: #FFAF00;
}

h3 strong {
  color: #38B9FD;
}

.spik-header{
  background: #F7B82D;
}

/* Common section styles */
p, a {
  color: #fff;
}

.section {
  height: 510px;
  color: #fff;
  /*end tour description*/
}

.section picture {
  padding-left: 0;
  padding-right: 0;
  height: 510px;
  overflow: hidden;
}

.section picture img {
  height: 100%;
  min-height: 100%;
  width: auto;
}

.section .tour_description {
  height: 510px;
  padding: 1.414rem;
  overflow: hidden;
}

.section .tour-buttons .button {
  font-size: 1.333rem;
  display: inline-block;
}

.section .tour-buttons .button:hover {
  color: #fff;
}

.section .tour-buttons .btn-link {
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  border-bottom: 2px solid #fff;
}

.section .tour-buttons .btn-link:hover, .section .tour-buttons .btn-link:focus {
  color: #FFAF00;
  text-decoration: none;
  border-color: #FFAF00;
}

.section .tour-buttons .btn-get-tour {
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 0.7rem 1.4rem;
}

.section .tour-buttons .btn-get-tour:hover,
.section .tour-buttons .btn-get-tour:focus {
  color: #38B9FD;
  text-decoration: none;
  border-color: #38B9FD;
}

/*end .section */
/*Custom sections */
.section-lyublyana .tour_description {
  background: #9C00FF;
}

.tour_description h3 strong {
  display: block;
  font-size: 80%;
}

.section-bohin-lake .tour_description {
  background: #1DB4F7;
}

.section-bohin-lake .tour_description strong {
  color: yellow;
}

.section-beach-cities .tour_description {
  background: #9C00FF;
}

.section-terme .tour_description {
  background: #14CC66;
}

.section-terme .tour_description h3, .section-terme .tour_description strong {
  color: yellow;
}

.section-venice-sea .tour_description {
  background: #007DCE;
}

.section-venice-sea .tour_description h3, .section-venice-sea .tour_description strong {
  color: #38B9FD;
}

.section-triest .tour_description {
  background: #7412B2;
}

.section-venice .tour_description {
  background: #14CC66;
}

.section-venice .tour_description strong {
  color: yellow;
}
 
/* End page tours */
 